fastapi
uvicorn
python-dotenv
streamlit
requests
# LlamaIndex
llama-index
llama-index-core
llama-index-agent-openai
# LangChain Stack
langchain
langchain-core
langchain-openai
langgraph
# Others
tavily-python
grandalf